<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset=utf-8>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="main.js"></script>
<style type="text/css">
#main-delete:checked ~ #delete-ip-address {
display: block;
}

#main-list:checked ~ #list-ip-address {
display: block;
}

#main-add:checked ~ #add-ip-address {
display: block;
}

section{
display: none;
}

body{
width: 60%;
margin: 4em auto;
}
#main-add,#main-delete,#main-list{
display: none;
}
label{
 border: solid 2px;
}

li span {
	cursor: pointer;
}
</style>
</head>
<body>
<input type="checkbox" name="use-servder" id="use-server" >
<input type="radio" name="main-menu" id="main-add" checked>
<input type="radio" name="main-menu" id="main-delete">
<input type="radio" name="main-menu" id="main-list">
<label for="main-add">登録</label>
<label for="main-delete">削除</label>
<label for="main-list">表示</label>

<section id="list-ip-address">
固定IPアドレス登録情報を閲覧します。
<div id="app_show">
<button v-on:click="show">test</button>
<ul>
<li v-for="i in CandidateLists">
<span v-bind:value="i">{{ i.host }},{{ i.ip }},{{ i.mac }},{{ i.type }}</span>
</ul>
</div>
</section>
<section id="delete-ip-address">
固定IPアドレス情報を削除します。
<div id="app_delete">
<dl>
<dt>ホスト検索:</dt><dd><input type=text v-on:keyup="keyup_host" v-bind:value="inputhostvalue"></input></dd>
</dl>
<dl>
<dt>Mac検索: まだ動きません</dt><dd><input type=text v-on:keyup="keyup_mac" v-bind:value="inputmacvalue"></input></dd>
</dl>
<ul>
<li v-for="i in CandidateLists">
{{ i }}<button v-on:click="candidate_click" v-bind:value="i.host">削除</button>
</ul>
</div>
</section>
<section id="add-ip-address">
固定IPアドレス情報を登録します。
<div id="app">
<dl>
<dt>ホスト検索:</dt><dd><input type=text v-on:keyup="keyup" v-bind:value="inputvalue"></input></dd>
</dl>
<ul>
<li v-for="i in CandidateLists">
<span v-on:click="candidate_click" v-bind:value="i">{{ i }}</span>
</li>
</ul>
<ul>
<li>有線:<span v-on:click="set_mac" v-bind:value="CandidateHost.lan" id="lan">{{ CandidateHost.lan }}</span></li>
<li>無線:<span v-on:click="set_mac" v-bind:value="CandidateHost.wlan" id="wlan">{{ CandidateHost.wlan }}</span></li>
</ul>
</div>
<div id="app2">
<dl>
<dt>ホスト名:</dt><dd><input type=text id="host" v-on:change="host_change" v-bind:value="host"></input></dd>
<dt>mac:</dt><dd><input type=text id="mac" v-on:change="mac_change" v-bind:value="mac"></input></dd>
</dl>
<div  v-for="(d,i) in ranges">
<input type=radio v-model="type" v-bind:value="d.typeid" >{{ d.name }}</input>
</div>
<button v-on:click="add_host">追加</button>
<div>{{ message }}</div>
</div>
</section>
</body>
</html>
